body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 2;
  -webkit-box-shadow: -2px 14px 28px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 14px 28px 6px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 14px 28px 6px rgba(0, 0, 0, 0.2);
}

#navbarNav {
  justify-content: center;
  align-items: center;
  padding: auto;
}
header i {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}
header i:hover {
  transition: transform 0.2s;
  transform: scale(0.9);
}

.nav-item {
  margin: 0 1rem;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Yellowtail", cursive;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.nav-item:hover a,
.nav-item:focus a {
  text-decoration: none;
  color: aquamarine;
  transition: all 0.25s ease-in-out;
}
.nav-item:active {
  transform: scale(0.9);
  transition: all 0.25s ease-in-out;
}
/* 

.overlay {
  position: fixed; 
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3); 
  z-index: 0; 
}
 */

#home {
  background: url("img/hero-bg.jpg") no-repeat center/cover fixed;
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Yellowtail", cursive;
}
#home iframe {
  position: absolute;
  top: 0;
  left: 25%;
}

.container-fluid {
  padding: 0;
  z-index: 1;
}
#gallery {
  background: url("img/gallery-bg.jpg") no-repeat center/cover fixed;
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.custom-container {
  padding-top: 10vh;
  position: relative;
  z-index: 1;
}
.custom-container h1 {
  font-family: "Yellowtail", cursive;
  color: white;
  font-size: 5rem;
}

#about {
  background: url("img/about-bg.jpg") no-repeat center/cover fixed;
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

#about h2 {
  font-family: "Yellowtail", cursive;
  font-size: 5rem;
  font-weight: bolder;
  background: url("img/about-bg.jpg") no-repeat center/cover scroll;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about img {
  margin-top: -50px;
}
#contact {
  background: url("img/contact-bg.jpg") no-repeat center/cover fixed;
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
  z-index: -1;
  padding-top: 0vh;
}
.form-container,
.social-container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 1rem;
  position: relative;
}

form .btn {
  background: aquamarine;
  color: rgb(6, 146, 99);
  border: aquamarine;
}

form .btn:hover,
form .btn:focus {
  background: rgb(6, 146, 99);
  color: aquamarine;
  border: rgb(6, 146, 99);
  transition: all 0.3s ease-in-out;
}
form .btn:active {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}

.social-tab a {
  font-family: "Yellowtail", cursive;
  color: white;
  text-decoration: none;
  font-size: 3.5rem;

  filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.5));
}
.social-tab:hover a,
.social-tab:focus a {
  color: aquamarine;
}

#main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: aquamarine;
  z-index: 3;
  transform: translateY(-70px);
}
#main-footer p {
  margin: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  font-family: "Yellowtail", cursive;
  font-size: 1.3rem;
  color: rgb(6, 146, 99);
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  #about h2 {
    font-size: 0.5rem;
  }
  #contact {
    height: 100%;
  }
  #contact a {
    font-size: 2.5rem;
  }

  .social-container {
    padding: 3rem;
  }
  #about img {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  body {
    overflow: auto;
  }
  header {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    box-shadow: none;
  }

  #home h1 {
    font-size: 3rem;
  }

  .navbar-nav {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 40px;
    margin: 2rem;
    padding: 1rem;
  }
  #main-footer {
    transform: none;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  #about h2 {
    font-size: 2rem;
  }
  #about p {
    font-size: 1rem;
  }
  #about img {
    margin-top: 2rem;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  #about h2 {
    font-size: 4rem;
  }
  #about p {
    font-size: 1.2rem;
  }
}
